@charset "utf-8";
/*   
    메인컬러 #e21a22  
    폰트컬러 #dedede;
    영어, 큰글씨, 제목
    font-family: 'Manrope', sans-serif;
    한글폰트, 작은글씨
    font-family: 'Noto Sans KR', sans-serif;

*/

#wrap {}

/*   키이미지   */
#keyimage {
    position: relative; 
    width: 100%; height: 800px; 
    background: url(../img/lens/lens_main_background.jpg) center no-repeat;
    background-size: cover;
    transition: all 0.8s;
}
#keyimage .keyimage {}
.keyimage .key-txt {
    width: 100%;
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
}
.keyimage .key-txt h1 {
    margin-bottom: 50px; font-size: 96px;
    font-family: 'Manrope', sans-serif;
    color: #dedede;
}
.keyimage .key-txt p {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    color: #dedede;
    line-height: 28px;
}

/*   컨텐츠   */
#content {
    width: 100%; _height: 1000px; padding-top: 100px;
    background: #000; padding-bottom: 100px;
    transition: all 0.8s;
}
#content .content {max-width: 1200px; margin: 0 auto;}
.content .content-txt {
    text-align: left;
    border-bottom: 1px solid #dedede;
    margin-bottom: 100px;
    
}
.content-txt h1 {
    font-size: 30px; margin-bottom: 10px;
    font-family: 'Manrope', sans-serif;
    color: #dedede;
    
}


.content .con1 {  
    width: 100%; height: 600px;
    margin-bottom: 200px;
    background: #111;
    transition: all 0.8s;
}
.con1 .front {
    position: relative;
    width: 100%; height: 600px;
    
}
.con1 .front .img1 {
    position: absolute; top: 70px; left: 5%;
    transition: all 0.8s;
}
.con1 .front .img1:hover {
    top: 40px;
}

.con1 .front .img1 img {
    width: 120%; 
    margin-left: 
}
.con1 .front .txt {
    position: absolute; top: 135px; right: 12%;
}

.con1 .front h2 {
    color: #dedede;
    font-size: 60px;
    font-family: 'Manrope', sans-serif;
    
}
.con1 .front .txt .point {color: #e21a22;}
.con1 .front p {
    color: #dedede;
    font-size: 18px;
    font-family: 'Noto Sans KR', sans-serif;
    margin-bottom: 50px;
}
.con1 .front li {
    float: left;
    width: 300px; text-align: center;
    height: 50px; line-height: 50px;
    border: 1px solid #dedede;
    transition: all 0.5s;
}
.con1 .front li:hover{
    border: 1px solid #e21a22;
    background: #e21a22;
    border: 0;
}
.con1 .front li a {
    color: #dedede; font-size: 14px;
    padding: 20px 100px;
    font-family: 'Noto Sans KR', sans-serif;
}



.content .con2 {
    width: 100%; height: 600px;
    margin-bottom: 200px;
    background: #111;
    transition: all 0.8s;
}
.con2 .front {
    position: relative;
    width: 100%;
}
.con2 .front .img2 {
    position: absolute; top: 70px; right: 12%; 
    transition: all 0.8s;
}
.con2 .front .img2:hover {
    top: 40px;
}
.con2 .front .img2 img {
    width: 120%;
}
.con2 .front .txt {
    position: absolute; top: 150px; left: 12%; 
}
.con2 .front h2 {
    color: #dedede;
    font-size: 60px;
    font-family: 'Manrope', sans-serif;
}
.con2 .front p {
    color: #dedede;
    font-size: 18px;
    font-family: 'Noto Sans KR', sans-serif;
    margin-bottom: 50px;
}
.con2 .front li {
    float: left;
    width: 300px; text-align: center;
    height: 50px; line-height: 50px;
    border: 1px solid #fff;
    transition: all 0.5s;
}
.con2 .front li:hover{
    border: 1px solid #e21a22;
    background: #e21a22;
    border: 0;
}
.con2 .front li a {
    color: #dedede; font-size: 14px;
    padding: 20px 100px;
    font-family: 'Noto Sans KR', sans-serif;
}




.content .con3 {
    width: 100%; height: 600px;
    background: #111;
    transition: all 0.8s;
}
.con3 .front {
    position: relative;
    width: 100%;
}
.con3 .front .img3 {
    position: absolute; top: 70px; left: 10%;
    transition: all 0.8s;
}
.con3 .front .img3:hover {
    top: 40px;
}
.con3 .front .img3 img {
    width: 120%; margin-left: -10px;
}
.con3 .front .txt {
    position: absolute; top: 150px; right: 10%;
}
.con3 .front h2 {
    color: #dedede;
    font-size: 60px;
    font-family: 'Manrope', sans-serif;
}
.con3 .front p {
    color: #dedede;
    font-size: 18px;
    font-family: 'Noto Sans KR', sans-serif;
    margin-bottom: 50px;
}
.con3 .front li {
    float: left;
    width: 300px; text-align: center;
    height: 50px; line-height: 50px;
    border: 1px solid #fff;
    transition: all 0.5s;
}
.con3 .front li:hover{
    border: 1px solid #e21a22;
    background: #e21a22;
    border: 0; 
}
.con3 .front li a {
    color: #dedede; font-size: 14px;
    padding: 20px 100px;
    font-family: 'Noto Sans KR', sans-serif;
}


/*    미디어쿼리     */

/*    1200px ~ 960px     */
@media all and (max-width:1200px) {
    #content {width: 100%; padding: 50px 5% 100px 5%}
    #content .content {width: 100%;}
    /*    켄텐츠1    */
    .con1 .front .img1 {
        position: absolute; top: 110px; left: 5%;
    }
    .con1 .front .img1:hover {
        top: 80px;
    }
    .con1 .front .img1 img {
        width: 100%;
    }
    .con1 .front .txt {
        position: absolute; top: 150px; right: 5%;
    }

    /*    켄텐츠2    */
    .con2 .front .img2 {
        position: absolute; top: 110px; right: 5%;
    }
    .con2 .front .img2:hover {
        top: 80px;
    }
    .con2 .front .img2 img {
        width: 100%;
    }
    .con2 .front .txt {
        position: absolute; top: 150px; left: 5%;
    }

    /*    켄텐츠3    */
    .con3 .front .img3 {
        position: absolute; top: 110px; left: 5%;
    }
    .con3 .front .img3:hover {
        top: 80px;
    }
    .con3 .front .img3 img {
        width: 100%;
    }
    .con3 .front .txt {
        position: absolute; top: 150px; right: 5%;
    }
    
}

/*    960px ~ 560px     */
@media all and (max-width:960px) {
    /*    키이미지    */
    #keyimage {height: 600px;} 
    .keyimage .key-txt h1 {
        margin-bottom: 50px; font-size: 10vw;
    }
    .keyimage .key-txt p {
        font-size: 1.8vw;
    }
    .content-txt h1 {
        font-size: 4vw;
    }
    
    /*    켄텐츠1    */
    .content .con1 {height: 400px; margin-bottom: 150px;}
    .con1 .front .img1 {
        position: absolute; top: 0px; left: 5%;
    }
    
    .con1 .front .img1:hover {
        top: 0px;
    }
    .con1 .front .img1 {width: 50%;}
    .con1 .front .img1 img {
        width: 100%;
    }
    .con1 .front .txt {
        position: absolute; top: 100px; right: 10%;
    }
    .con1 .front .txt h2 {font-size: 5vw;}
    .con1 .front .txt p {font-size: 2vw; margin-bottom: 30px;}
    .con1 .front .txt li {
        width: 100%; height: 40px; line-height: 40px;}
    .con1 .front .txt li a {
        font-size: 1.5vw; padding: 10px 25%;
    }
    /*    켄텐츠2    */
    .content .con2 {height: 400px; margin-bottom: 150px;}
    .con2 .front .img2 {
        position: absolute; top: 0px; right: 5%;
    }
    .con2 .front .img2:hover {
        top: 0px;
    }
    .con2 .front .img2 {width: 50%;}
    .con2 .front .img2 img {
        width: 100%;
    }
    .con2 .front .txt {
        position: absolute; top: 100px; left: 10%;
    }
    .con2 .front .txt h2 {font-size: 5vw;}
    .con2 .front .txt p {font-size: 2vw; margin-bottom: 30px;}
    .con2 .front .txt li {
        width: 60%; height: 40px; line-height: 40px;}
    .con2 .front .txt li a {
        font-size: 1.5vw; padding: 10px 25%;;
    }
    /*    켄텐츠3    */
    .content .con3 {height: 400px; margin-bottom: 150px;}
    .con3 .front .img3 {
        position: absolute; top: 0px; left: 5%;
    }
    .con3 .front .img3:hover {
        top: 0px;
    }
    .con3 .front .img3 {width: 50%;}
    .con3 .front .img3 img {
        width: 100%; margin: 0 auto;
    }
    .con3 .front .txt {
        position: absolute; top: 100px; right: 5%;
    }
    .con3 .front .txt h2 {font-size: 5vw;}
    .con3 .front .txt p {font-size: 2vw; margin-bottom: 30px;}
    .con3 .front .txt li {
        width: 60%; height: 40px; line-height: 40px;}
    .con3 .front .txt li a {
        font-size: 1.5vw; padding: 10px 25%;
    }
    
    
    
}

/*    560px ~ 0     */
@media all and (max-width:560px) {
    
    #keyimage {height: 500px;} 
    /*    켄텐츠1    */
    .content .con1 {
        height: 400px;
        margin-bottom: 100px;
    }
    .con1 .front .img1 {
        position: absolute; top: 0px; left: 20%;
    }
    .con1 .front .img1:hover {
        top: 0px;
    }
    .con1 .front .img1 {width: 60%;}
    .con1 .front .img1 img {
        width: 100%;
    }
    .con1 .front .txt {
        position: absolute; top: 320px; left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .con1 .front .txt h2 {font-size: 5.5vw; margin-bottom: 10px;}
    .con1 .front .txt p {font-size: 2.5vw; }
    .con1 .front .txt li {
        display: none;
    }
    /*    켄텐츠2    */
    .content .con2 {
        height: 400px;
        margin-bottom: 100px;
    }
    .con2 .front .img2 {
        position: absolute; top: 0px; right: 20%; 
    }
    .con2 .front .img2:hover {
        top: 0px;
    }
    .con2 .front .img2 {width: 60%;}
    .con2 .front .img2 img {
        width: 100%;
    }
    .con2 .front .txt {
        position: absolute; top: 320px; left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .con2 .front .txt h2 {font-size: 5.5vw; margin-bottom: 10px;}
    .con2 .front .txt p {font-size: 2.5vw; }
    .con2 .front .txt li {
        display: none;
    }
    /*    켄텐츠3    */
    .content .con3 {
        height: 400px;
        margin-bottom: 0px;
    }
    .con3 .front .img3 {
        position: absolute; top: 0px; left: 20%;
    }
    .con3 .front .img3:hover {
        top: 0px;
    }
    .con3 .front .img3 {width: 60%;}
    .con3 .front .img3 img {
        width: 100%;
    }
    .con3 .front .txt {
        position: absolute; top: 320px; left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .con3 .front .txt h2 {font-size: 5.5vw; margin-bottom: 10px;}
    .con3 .front .txt p {font-size: 2.5vw; }
    .con3 .front .txt li {
        display: none;
    }
    
    
    
    
    
    
}






















































































